<header class="w-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand d-none d-md-inline" href="/">Joint Terrorism Task Force</a>
    <a class="navbar-brand d-inline d-md-none" href="/">JTTF</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarLinks" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stat">Stats</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
