{% extends 'layout.html'%}

{% block body %}
<section class="text-center absolute-center position-absolute">
  <h1>Welcome</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iusto architecto, ratione assumenda quae est recusandae eligendi beatae fugit eius quidem laudantium veritatis, impedit mollitia facilis doloremque, ducimus blanditiis animi!</p>
  <p class="lead">
    <a href="/about" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</section>
{% endblock %}
