{% extends 'layout.html'%}

{% block body %}
<div class="row">
  <div class="mt-5 p-5 text-center bg-transdark">
    <h1>JTTF</h1>
    <p class="lead">The FBI’s Joint Terrorism Task Forces, or JTTFs, are our nation’s front line on terrorism: small cells of highly trained, locally based, passionately committed investigators, analysts, linguists, SWAT experts, and other specialists from dozens of U.S. law enforcement and intelligence agencies. </p>
    <p class="lead">
      <a href="/about" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </div>
</div>

{% endblock %}
