{% extends 'layout.html'%}

{% block body %}
<div class="bg-transdark">
  <h1>Stats</h1>
  <p class='lead'>This page shows data on terrorist attacks that happen in this country every year. Thus showing why the JTTF exists, what we are up against and why we are working 24/7/365 to protect you, your families, and your communities from terrorist attack both foreign and domestic.</p>
  <a href="javascript:dc.filterAll(); dc.renderAll();" data-intro="This resets everything." data-highlightClass="intro" data-tooltipClass="intro">Reset All</a>
  <div class="row">
    <div id='freq-by-year' class="mt-5 col-12 col-md-6" data-intro="This graph shows the frequency of attacks over the years." data-highlightClass="intro" data-tooltipClass="intro">
      <h2 class='label'>Amount of attacks over the years</h2>
    </div>
    <div id='amount-by-state' class="mt-5 col-12 col-md-6" data-intro="This graph does a state comparison of attacks." data-highlightClass="intro" data-tooltipClass="intro">
      <h2 class='label'>State comparison of attack amount</h2>
    </div>
    <div id='attack-by-state' class="mt-5 col-12 col-md-4" data-intro="Use this to filter the graphs by state." data-highlightClass="intro" data-tooltipClass="intro">
      <h2 class='label'>Attacks by state</h2>
    </div>
    <div id='attack-by-city' class="mt-5 col-12 col-md-4" data-intro="Use this to filter the graphs by city." data-highlightClass="intro" data-tooltipClass="intro">
      <h2 class='label'>Attacks by city</h2>
    </div>
    <div id='attack-by-year' class="mt-5 col-12 col-md-4" data-intro="Use this to filter the graphs by year." data-highlightClass="intro" data-tooltipClass="intro">
      <h2 class='label'>Attacks by year</h2>
    </div>

    <div class="mt-5 col-12" data-intro="This show information about the attacks." data-highlightClass="intro" data-tooltipClass="intro">
      <h2 class='label'>Attack Info</h2>
      <table id='event-table' class="table">
      </table>
    </div>
      
  </div>
    
  <a href="javascript:dc.filterAll(); dc.renderAll();" data-intro="This resets everything." data-highlightClass="intro" data-tooltipClass="intro">Reset All</a>
</div>
{% endblock %}
